.content{
	@include rem("max-width", 1000);
	@include margin-auto();
}

h1{
	@include rem("margin", 30, 0);
}

.videos{
	ul{
		@include rem("margin-bottom", 30);
		li{
			@include inline-block();
			@include rem("margin", 0, 10, 10, 10);
			position:relative;

			.icon{
				display:block;
				text-align:center;
				position:absolute;
				z-index:2;
				left:0;
				top:0;
			}

			h2{

			}

			img{
				@include rem("width", 160);
			}
		}
	}
}