$lightGrey:#cccccc;
$reallyLightGrey:#efefef;
$lightGreyBG:#eeeeee;
$lightBlue:#bde1ea;
$greyBlue: #a4b6ba;
$darkGrey:#333333;
$teal: #18a7a3;
$navy: #2c3f52;

$helvetica: Helvetica, Arial, sans-serif;
$gotham: 'Gotham_SSm_4r', Helvetica, Arial, sans-serif;
$gothamMedium: 'Gotham_SSm_5r', Helvetica, Arial, sans-serif;
$gothamLight: 'Gotham_SSm_3r', Helvetica, Arial, sans-serif;
$gothamBook: 'Gotham_SSm_4r', Helvetica, Arial, sans-serif;
$gothamBold: 'Gotham_SSm_7r', Helvetica, Arial, sans-serif;

$mobile: 420;